* {
    margin: 0px;
}

.all {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 33%;
    height: 100vh;
    background-color: #E4CD6A;
}

.icon {
    width: 250px;
    height: 280px;
}

h1,
p {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 25px;
    font-weight: 700;
}

.all p {
    font-size: 15px;
    text-align: center;
}

.cad {
    color: #E4CD6A;
}

.btn_entrar {
    width: 120px;
    height: 35px;
    border: 2px solid #E285FF;
    border-radius: 50px;
    background-color: transparent;
    color: #E285FF;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.btn_entrar:hover {
    background-color: #E285FF;
    color: white;
}

.right {
    background-color: white;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.form-control {
    background-color: #EAEAEA;
    font-size: 12px;
}
.input-group {
    background-color: #EAEAEA;
    border-radius: 5px;
    margin-top: 20px;
    width: 400px;
    height: 40px;
}
.input-group-text {
    background-color: #EAEAEA;
}
span img {
    width: 15px;
}

.btn_cadastrar {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 50px;
    background-color: #E285FF;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
}

.btn_cadastrar:hover {
    border: 2px solid #E285FF;
    background-color: transparent;
    color: #E285FF;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    width: 190px;
}

.line p {
    margin-top: 10px;
    font-size: 12px;
}

.accounts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.bg {
    background-color: #EAEAEA;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #616161;
    cursor: pointer;
}

.bg:hover {
    background-color: #616161;
}

.form-control:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid #EAEAEA;
    outline: 0;
}

.icon_login {
    width: 370px;
}

#msg_error {
    color: red;
    font-size: 12px;
}
/*MOBILE*/
@media (max-width: 480px) {
    .all {
        flex-direction: column;
    }
    .left {
        height: 20vh;
        width: 100%;
        gap: 5px;
    }
    h1 {
        font-size: 15px;
    }
    .left p {
        display: none;
    }
    .logo {
        width: 150px;
    }
    .icon_login {
        display: none;
    }
    .btn_entrar {
        width: 90px;
        font-size: 10px;
        height: 30px;
    }
    .right {
        order: -1;
        width: 100%;
        height: 80vh;
    }
    .right p {
        font-size: 10px;
    }
    .form-control {
        font-size: 10px;
    }
    .input-group {
        width: 250px;
    }
    .btn_cadastrar {
        width: 90px;
        font-size: 10px;
        height: 30px;
    }
    span img {
        width: 12px;
    }
    hr {
        width: 120px;
    }
    .bg {
        width: 40px;
        height: 40px;
    }
}
/*EXTRA SMALL DEVICES*/
@media (min-width: 481px) and (max-width: 767px){
    .all {
        flex-direction: column;
    }
    .left {
        height: 20vh;
        width: 100%;
        gap: 5px;
    }
    .left p {
        display: none;
    }
    .logo {
        width: 150px;
    }
    .icon_login {
        display: none;
    }
    .right {
        order: -1;
        width: 100%;
        height: 80vh;
    }
}

/*TABLET*/
@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 20px;
    }
    .left img {
        width: 200px;
    }
}

/*EXTRA LARGE DEVICES*/
@media (min-width: 1920px){
    h1 {
        font-size: 40px;
    }
    .left img {
        width: 500px;
    }
    .all p {
        font-size: 20px;
    }
    .btn_entrar {
        width: 120px;
        font-size: 10px;
        height: 30px;
    }
    .form-control {
        font-size: 20px;
    }
    .input-group {
        width: 500px;
        height: 50px;
    }
    .btn_cadastrar {
        width: 90px;
        font-size: 10px;
        height: 30px;
    }
    span img {
        width: 22px;
    }
    hr {
        width: 240px;
    }
    .bg {
        width: 80px;
        height: 80px;
    }
}



